/*
-----------
RESET
-----------
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
-----------
FONT AND STYLE
-----------
*/
header {
    text-align: center;
    padding: 50px;
}

body p {
    font-family: 'Fredoka regular', sans-serif;
    font-size: 15px;
}

/*
-----------
HEADER
-----------
*/
h1 {
    margin-bottom: 50px;
    color: #e53170;
    font-weight: bolder;
    font-family: 'Fredoka', sans-serif;
    font-size: 40px;
}

header>p {}

/*
-----------
MAIN
-----------
*/





/*
-----------
COMMON
-----------
*/
.team>.col {

    width: calc(100% / 3 - 20px);
    background-color: white;
    border: 2px solid aqua;
    float: left;
    padding: 20px;
    margin: 10px;
}


.container {
    max-width: 1200px;
    margin: auto;

}

.clearfix::after {
    display: block;
    content: '';
    clear: both;
}

.foto {
    float: left;
    width: 100%;
}

.team-info {
    width: calc(100% - 100px);
    float: left;
}